.parent {
  display: flex;
}
.child {
  width: 33.33%;
  box-sizing: border-box;
  margin-right: 1rem;
}

.jumbotron h3 {
  width: 90%;
}

.jumbotron > * {
  margin: 1.5rem 1rem;
}

@media (max-width: 650px) {
  .parent {
    flex-direction: column;
  }

  .child {
    width: 100%;
    margin-bottom: 2rem;
  }
}
