.card {
  flex-direction: row !important;
}

@media (min-width: 1000px) {
  .card {
    flex-direction: column !important;
    margin-right: 1rem;
    height: max-content;
  }

  .card-header {
    margin-top: 1rem;
  }
}

@media (max-width: 550px) {
  .card {
    flex-direction: column !important;
  }

  .card-header {
    margin-top: 1rem;
  }
}

.card-title {
  color: black;
}
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.card-header img {
  display: block !important;
  height: auto;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
